header {
  background-color: navy;
  color: white;
  height: 90px;
  font-size: 50px;
  text-align: center;
  margin: 5px;
}

#searchBar {
  display: inline;
}

#searchBarTitle {
  font-size: 40px;
}

#foreCastContainer {
  display: flex;
  flex-direction: row;
}
