header {
  background-color: navy;
  color: white;
  height: 90px;
  font-size: 50px;
  text-align: center;
  margin: 5px;
}

#searchBar .card-body {
  border-bottom: solid 2px grey;
}

#searchBar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#searchBarTitle {
  font-size: 40px;
}

#currentCityInfo {
  position: relative;
  border: solid 5px black;
  height: fit-content;
  left: 360px;
  bottom: 327px;
  max-width: fit-content;
  padding: 20px;
}

#forecastCardContainer {
  position: relative;
  border: solid 5px black;
  left: 360px;
  bottom: 218px;
  max-width: fit-content;
  padding: 20px;
  column-gap: 30px;
}
